
         body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, pink, lightblue);
      background-size: cover;
      background-position: center;
      position: relative;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    form {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 300px;
    }
    fieldset {
      background-color: lightgray;
    }
    legend {
      padding: 10px 150px;
      background: linear-gradient(to bottom, darkgray, lightgray);
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    /* Estilos para telas pequenas */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        margin-right: 10px;
    }

    main {
        padding: 10px;
    }

    section {
        padding: 15px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        padding: 8px;
    }

    form button {
        padding: 8px 16px;
    }
}

/* Estilos para telas médias */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        padding: 15px;
    }

    header h1 {
        font-size: 28px;
    }

    nav ul li {
        margin-right: 15px;
    }

    main {
        padding: 15px;
    }

    section {
        padding: 20px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        padding: 10px;
    }

    form button {
        padding: 10px 20px;
    }
}

/* Estilos para telas grandes */
@media screen and (min-width: 1025px) {
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 32px;
    }

    nav ul li {
        margin-right: 20px;
    }

    main {
        padding: 20px;
    }

    section {
        padding: 30px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        padding: 12px;
    }

    form button {
        padding: 12px 24px;
    }
}


