     body {

  font-family: Arial, sans-serif;

  color: black;
  background: linear-gradient(to bottom, fuchsia, aqua);

  justify-content: center;

  align-items: center;
  background-size: cover;

  background-position: 50%;

  padding: 10px;

}

    
  
    #tipo-carousel,
    #massa-carousel,
    #recheio-carousel,
    #peso-carousel  {
      background-color: whitesmoke;
      position: relative;
      overflow: hidden;
      border-radius: 20px; /* Adicionando bordas arredondadas */
      border: 2px solid whitesmoke; /* Adicionando uma borda para maior destaque */
      margin-bottom: 20px; /* Adicionando margem inferior para separar os carrosséis */
    }

    .produtos-wrapper {
      display: flex;
      overflow-x: auto;
      scrollbar-width: none; /* Ocultando a barra de rolagem padrão */
      -ms-overflow-style: none; /* Ocultando a barra de rolagem no IE e no Edge */
    }

    .produtos-wrapper::-webkit-scrollbar {
      display: none; /* Ocultando a barra de rolagem no Chrome, Safari e Opera */
    }

    .produto {
      width: 200px;
      border: 1px solid black;
      padding: 10px;
      margin-right: 10px; /* Adicionando margem direita para separar os produtos */
      border-radius: 20px;
    }

    .titulo {
      font-size: 20px;
      margin-bottom: 10px; /* Adicionando margem inferior para separar os títulos */
    }

    .botao-adicionar {
      margin-top: 10px;
    }
  
    img{
      width:60px;
      height: 60px;
      text-align: center;
    }

    #itens-carrinho {
        margin-top: 20px;
        background-color: white;
        align-items: center;
        border-radius: 10px;
        border: 2px solid black;
    }

    #itens-carrinho th,
    #itens-carrinho td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
  
     /* Estilos para os botões */
     .botoes-container {
     display: flex; /* Para usar flexbox */
     justify-content: space-between; /* Para distribuir os botões uniformemente */
     }

    .botoes-container button {
    margin-right: 10px; /* Espaço entre os botões */
    }

    nav {
      width: 100%;
      display: fixed;
      align-items: center;
      justify-content: space-between;
      padding: 2px;
      background-color: whitesmoke;
      border-bottom: 1px solid #ccc;
      top: 0;
      position: relative;
    }

    nav img {
      width: 50px;
      height: auto;
    }
    
    input {
      display: flex;
      height: 30px;
      width:95%;
      padding:5px;
      border: 2px solid black;
      border-radius: 10px;
    }
  
    .barra-horizontal {

    background: linear-gradient(to right, fuchsia, aqua);

    height: 7px;

    width: 100%;

    }

  
  
    button {

    padding: 10px;

    align-self: center;

    width: 140px;

    border-radius: 30px;

    /* background-color: #3393c1; */

    background-image: linear-gradient(#256a8a, #3393c1);

    border: solid 1px #256a8a;

    border-right-width: 4px;

    border-bottom-width: 4px;

    font-size: 16px;

    color: white;

    font-weight: 700;

    text-transform: uppercase;
  
}

  
    .disabled {
    background-color: #ccc; /* Cor de fundo cinza */
    color: #666; /* Cor do texto cinza mais escuro */
    cursor: not-allowed; /* Cursor de não permitido */
}
  
  #chatbot-button {
    position: fixed;
    bottom: 8px;
    right: 20px;
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 20px;
    border: solid 1px #256a8a;

    border-right-width: 4px;

    border-bottom-width: 4px;

    cursor: pointer;
    z-index: 9900;
    transition: background-color 0.5s ease;
    font-size: 15px;
    color: white;
    text-transform: uppercase;

}

#chatbot-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#chatbot-button:hover {
    background-color: lightgray;
        }
