//stock.html

      body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url(cake.jpg);
            background-size: cover;
            background-position: center;
            position: relative;
            color: black; /* Define a cor do texto como preto */
        }

        header {
            padding: 20px;
            text-align: right;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .item {
            display: inline-block;
            margin-right: 20px;
            vertical-align: top; /* Alinha os itens no topo */
        }

        .item a {
            color: black; /* Define a cor do texto dos links como preto */
            text-decoration: none; /* Remove a decoração do link */
        }

        .item img {
            width: 40px;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .item p {
            margin: 5px 0 0;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .form-group {
            width: calc(50% - 10px);
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, select {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }
  
        /* Estilo para o botão "Editar" */
.btn-edit {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-edit:hover {
    background-color: #218838; /* Verde mais escuro ao passar o mouse */
}

/* Estilo para o botão "Remover" */
.btn-remove {
    background-color: #dc3545; /* Vermelho */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-remove:hover {
    background-color: #c82333; /* Vermelho mais escuro ao passar o mouse */
}
       

        #totalStock {
            font-size: 20px;
            font-weight: bold;
            color: #ff6600;
            background-color: #ffeecc;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            margin-top: 20px;
        }

        /* Estilos para telas pequenas */
        @media screen and (max-width: 768px) {
            .container {
                padding: 10px;
            }
            .item {
                margin-right: 10px;
              
              

           table {
            width: 60%;
            border-collapse: collapse;
            margin-top: 5px;
           }
              
           th, td {
            border: 1px solid #ccc;
            padding: 3px;
            text-align: center;
        }

            }
            form button {
                padding: 8px 16px;
            }
            input,
            select {
                width: calc(100% - 10px);
            }
        }

        /* Estilos para telas médias */
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            .container {
                padding: 15px;
            }
            .item {
                margin-right: 15px;
            }
            form button {
                padding: 10px 20px;
            }
            input,
            select {
                width: calc(50% - 10px);
            }
        }

        /* Estilos para telas grandes */
        @media screen and (min-width: 1025px) {
            .container {
                padding: 20px;
            }
            .item {
                margin-right: 20px;
            }
            form button {
                padding: 12px 24px;
            }
        }

        /* The alert message box */
        .alert {
            padding: 20px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
        }

        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

